# 
# Tiramisu Discord Bot
# --------------------
#     .gitignore
#

# Python compiled files
__pycache__
*.pyc

# SQLite Databases
*.db

# Configuration
config/config.yml
config/config.yml.old

# Default Secret File
config/secret.txt

# Custom Cogs
cogs/custom_*.py

# Files marked to not sync
*nosync*

# Extensions
ext/*.py

# Caching
.cache/
